@media (max-width: 800px) {

    header {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;
        padding: 2%;
        justify-content: center;
        height: 200px;
    }

    ul {
        list-style: none;
    }

    ul li {
        padding: 5px;
        margin: 5px;
    }

    li a {
        color: #ffffff;
        font: 110% $font-stack;
        text-decoration: none;

        &:hover {
            background-color: #D5E9D9;
            color: $primary-color;
            transition: background-color .5s;
        }
    }

    nav {
        display: none;
        justify-items: start;
    }


    .logoInicio {

        display: flex;
        justify-content: center;
    }

    .buscador {
        display: none;
    }


    /* mobile*/
    .banner {
        display: none;
    }

    .bannerMobile {
        padding-top: 40px;
    }


    nav ul li a {
        display: none;
    }

    .dropdown {
        margin: auto;
    }

.dropdown-menu {
        text-decoration: none;

        a {
            color: $primary-color;
        }

    }

    .textoAyuda {

        text-align: center;
        font: 200% $font-stack;
        max-width: 800px;
    }

    .formularioConsultas {
        padding-bottom: 5%;
        text-align: center;

       p {
            padding-top: 10px;
        }
    
    
    input {
        width: 300px;
        height: 50px;
        border-width: 3px;
        border-radius: 10px;
        border-color: $primary-color; 
    }
    
    .areaTexto {
        width: 300px;
        height: 240px;
        border-width: 3px;
        border-radius: 10px;
        border-color: $primary-color;
    }
    
    }

}





@media (min-width: 1200px) {
    .gridProductos {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 500px 500px 500px;
        padding-top: 5%;
        justify-items: center;
        justify-content: center;
    }

    .bannerMobile {
        display: none;
    }

    .dropdown {
        display: none;
    }

    nav ul li a {
        color: #ffffff;
        font: 110% $font-stack;
        text-decoration: none;

        &:hover {
            background-color: #D5E9D9;
            color: $primary-color;
            transition: background-color .5s;
            font-weight: 500;
        }
    }


}






@media (min-width: 1200px) {
    .gridDestacados {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 500px 500px;
        justify-content: center;
        justify-items: center;
        grid-gap: 50px;
    }

    .gridDestacados1 {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px;
        justify-content: center;
        justify-items: center;
        grid-gap: 70px;
        padding-bottom: 100px;
    }

    


}