.contenedorEtiquetas {
    max-width: 1800px;
    margin:auto;
}

.flex {
    display: flex;
}


header {
    background-color: #000000;
    padding: 2%;
    font-family: 'Helvetica';
}

ul {
    list-style: none;    
}
ul li {
    padding: 5px;
    margin: 5px;
}

ul li a {
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.buscador {
    margin-left: 550px;
    align-items: center;
    margin-top: -5px;
}



.logoInicio {
    margin-left: 25px;
    margin-top: 15px;
}









footer {
    background-color: rgb(0, 0, 0);
}

footer ul li {
    color: white;
    padding: 5px;
    font-family: 'Helvetica', sans-serif;
}



.grid {
    display: grid;   
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px;
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
  }

.destacados img {
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: groove;
    border-radius: 10%;
}


.fondoDestacados {
    background-color: rgb(188, 188, 188);

}

div p {
    font-size: 20px;
}

.botonAnimado:hover {
    height: 50px;
}

.botonAnimado {
        background-color: #000000;
        color: #ffffff;
        font-family: 'Helvetica', sans-serif;
        border-radius: 10px;
        margin: auto;
        height: 40px;
        transition: height 0.5s;
        height: 40px;
        transition: height 0.5s;
}

.banner {
    padding-top: 5%;
    padding-bottom: 5%;
}

footer p {
    color: #ffffff;
    text-align: center;
}

footer ul li {
    text-align: center;
}

div form p {
    text-align: center;
}



@media (min-200px) {

    div .destacados {
        display: block;
        margin: auto;
    }

    .navegación {

        display: flex;
        flex-direction: column;

    }

}

@media (min-300px) {

    div .destacados {
        display: block;
        margin: auto;
    }

}