.contenedorEtiquetas {
    max-width: 1800px;
    margin: auto;
}

.flex {
    display: flex;
}


@media (max-width: 800px) {

    header {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding: 2%;
        font-family: 'Helvetica';
        justify-content: center;
        height: 200px;
    }

    ul {
        list-style: none;
    }

    ul li {
        padding: 5px;
        margin: 5px;
    }

    ul li a {
        color: #ffffff;
    }

    nav {
        display: flex;
        justify-content: center;
    }


    .logoInicio {

        display: flex;
        justify-content: center;
    }

    .buscador {
        display: none;
    }

}



header {
    background-color: #000000;
    padding: 2%;
    font-family: 'Helvetica';
}

ul {
    list-style: none;
}

ul li {
    padding: 5px;
    margin: 5px;
}

ul li a {
    color: #ffffff;
}

nav {
    display: flex;
    margin-left: auto;
}

.buscador {
    margin-left: 550px;
    margin-top: 5px;
}

.logoInicio {
    margin-left: 25px;
    margin-top: 15px;
}






footer p {
    color: #ffffff;
    text-align: center;
}

footer ul li {
    text-align: center;
}

div form p {
    text-align: center;
}

footer {
    background-color: rgb(0, 0, 0);
}

footer ul li {
    color: white;
    padding: 5px;
    font-family: 'Helvetica', sans-serif;
}

.titulo {
    text-align: center;
    padding-top: 5%;
    font-size: 300%;
    font-family: Helvetica, sans-serif;
}

.banner {
    padding-bottom: 5%;
}


.grid {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-items: center;
    justify-content: center;
    grid-gap: 50px;
}


@media (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 400px;
        justify-content: center;
        justify-items: center;
        grid-gap: 70px;
        padding-bottom: 50px;
    }
}







.thumbnail {
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: groove;
    border-radius: 10%;
}


.botonAnimado:hover {
    height: 50px;
}

.botonAnimado {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 10px;
    margin: auto;
    height: 40px;
    transition: height 0.5s;
    height: 40px;
    transition: height 0.5s;
}
